@page
@model PetHealthCareSystemRazorPages.Pages.Staff.Appointment.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.TimeTable.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.TimeTable.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.BookingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.BookingType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Feedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Feedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment.Vet.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Vet.FullName)
        </dd>
    </dl>
</div>
<div>
    <a style="color: black" asp-page="./BookingManagement">Back to List</a>
</div>
