@page
@model PetHealthCareSystemRazorPages.Pages.Vet.TimeTable.CreateMedicalModel

@{
    ViewData["Title"] = "CreateMedical";
}

<h1>CreateMedical</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="MedicalRecord.AppointmentId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.PetId" class="control-label"></label>
                <select asp-for="MedicalRecord.PetId" class ="form-control" asp-items="ViewBag.PetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.MedicalItems" class="control-label">Medical Items:</label>
                <div >
                    @foreach (var medicalItem in Model.MedicalItems)
                    {
                        <input type="checkbox" name="SelectedMedicalItemsId" value="@medicalItem.Id" />
                        <label>Item's name</label>
                        @medicalItem.Name
                        <label>Item's stock</label>
                        @medicalItem.Quantity
                        <label>Using</label>
                        <input type="number" name="SelectedMedicalItemsQuantity"/>
                        <br />
                    }
                </div>
            </div>
            @* @if (Model.MedicalItems != null && Model.MedicalItems.Any())
            {
            <div class="form-group">
            <label>Select Pet</label>
            <div id="pet-list" class="select-list">
            @foreach (var item in Model.MedicalItems)
            {
            <div class="select-item">
            <input type="checkbox" id="item-@item.Id" name="petId" value="@item.Id">
            <label for="pet-@item.Id">@item.Name</label>
            <input type="number" />
            </div>
            }
            </div>
            <span id="pet-error" class="text-danger"></span>
            </div>
            } *@
            @* <div class="form-group">
                <label asp-for="MedicalRecord.VetId" class="control-label"></label>
                <input asp-for="MedicalRecord.VetId" class="form-control" />
                <span asp-validation-for="MedicalRecord.VetId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="MedicalRecord.RecordDetails" class="control-label"></label>
                <input asp-for="MedicalRecord.RecordDetails" class="form-control" />
                <span asp-validation-for="MedicalRecord.RecordDetails" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="MedicalRecord.Date" class="control-label"></label>
                <input asp-for="MedicalRecord.Date" class="form-control" />
                <span asp-validation-for="MedicalRecord.Date" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="MedicalRecord.Diagnosis" class="control-label"></label>
                <input asp-for="MedicalRecord.Diagnosis" class="form-control" />
                <span asp-validation-for="MedicalRecord.Diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Treatment" class="control-label"></label>
                <input asp-for="MedicalRecord.Treatment" class="form-control" />
                <span asp-validation-for="MedicalRecord.Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.Note" class="control-label"></label>
                <input asp-for="MedicalRecord.Note" class="form-control" />
                <span asp-validation-for="MedicalRecord.Note" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="MedicalRecord.NextAppointment" class="control-label"></label>
                <input asp-for="MedicalRecord.NextAppointment" class="form-control" />
                <span asp-validation-for="MedicalRecord.NextAppointment" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="MedicalRecord.PetWeight" class="control-label"></label>
                <input asp-for="MedicalRecord.PetWeight" class="form-control" />
                <span asp-validation-for="MedicalRecord.PetWeight" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="MedicalRecord.AdmissionDate" class="control-label"></label>
                <input asp-for="MedicalRecord.AdmissionDate" class="form-control" />
                <span asp-validation-for="MedicalRecord.AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.DischargeDate" class="control-label"></label>
                <input asp-for="MedicalRecord.DischargeDate" class="form-control" />
                <span asp-validation-for="MedicalRecord.DischargeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.CreatedBy" class="control-label"></label>
                <input asp-for="MedicalRecord.CreatedBy" class="form-control" />
                <span asp-validation-for="MedicalRecord.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.LastUpdatedBy" class="control-label"></label>
                <input asp-for="MedicalRecord.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="MedicalRecord.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.DeletedBy" class="control-label"></label>
                <input asp-for="MedicalRecord.DeletedBy" class="form-control" />
                <span asp-validation-for="MedicalRecord.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.CreatedTime" class="control-label"></label>
                <input asp-for="MedicalRecord.CreatedTime" class="form-control" />
                <span asp-validation-for="MedicalRecord.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.LastUpdatedTime" class="control-label"></label>
                <input asp-for="MedicalRecord.LastUpdatedTime" class="form-control" />
                <span asp-validation-for="MedicalRecord.LastUpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicalRecord.DeletedTime" class="control-label"></label>
                <input asp-for="MedicalRecord.DeletedTime" class="form-control" />
                <span asp-validation-for="MedicalRecord.DeletedTime" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
